<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        
      

        <property name="hibernate.connection.url">jdbc:postgresql://ip:port/db</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">pass</property>


        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">50</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

    
        <mapping class="model.Perfiles"/>
        <mapping class="model.Capas"/>
        <mapping class="model.PerfilCampos"/>
        <mapping class="model.Campos"/>
        <mapping class="model.PerfilesCapas"/>
        <mapping class="model.GeometryColumns"/>
        <mapping class="model.Plugins"/>
        <mapping class="model.PerfilPlugins"/>
        <mapping class="model.CodPostalesV0Pg"/>        
        <mapping class="com.vividsolutions.jts.geom.MultiPolygon"/>
        <mapping class="model.BaseCapa"/>
        <mapping class="model.Bases"/>
        <mapping class="model.PerfilBase"/> 
        <mapping class="model.Usuarios"/> 
        <mapping class="model.CapaFiltro"/> 
        
    </session-factory>
</hibernate-configuration>
